Click==7.0
cycler==0.10.0
Flask==2.0.1
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.4.3
numpy==1.21.2
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.16.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
mysql-connector-python
mysql-connector
